extends ../layout

block content
  .container
    if post.id
      h1.page-header 글수정
    else
      h1.page-header 호스트가 될 준비를 시작해보세요.

    form(action = (post.id) ? "/posts/#{post.id}?_method=PUT" : "/posts", method='POST')
      .form-group
        label(for='email') email address
        input.form-control(type='email', id='email', name='email', placeholder='Email', value=post.email)
        label(for='password') password
        input.form-control(type='password', id='password', name='password', placeholder='Password')
      .form-group
        label(for='title') Title
        input.form-control(type='text', id='title', name='title', placeholder='title', value=post.title)
      .form-group
        label(for='city') city
        input.form-control(type='text', id='city', name='city', placeholder='city', value=post.city)
      .form-group
        label(for='fee') fee
        input.form-control(type='text', id='fee', name='fee', placeholder='fee', value=post.fee)
      .form-group
        label(for='facility') facility
        input.form-control(type='text', id='facility', name='facility', placeholder='facility', value=post.facility)
      .form-group
        label(for='rule') rule
        input.form-control(type='text', id='rule', name='rule', placeholder='rule', value=post.rule)
      .form-group
        label(for='description') description
        textarea.form-control(id='description', rows='10', name='description', placeholder='description here')= post.description

      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 완료
